__pycache__/

*.egg-info/

# VTK files
*.vti
*.vtr
*.vtp
*.vtu
*.vts
*.pvti
*.pvtr
*.pvtp
*.pvtu
*.pvts

# Sphinx build dir
docs/build/

# distribution dir
dist/

# virtual environnement directory
.env

# Test directories
__test__
.pytest_cache/

